body{
  background-color: rgb(24, 40, 54);
  display: flex;
  justify-content: center;
}

.contenedorSemaforo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paloSemaforo{
  background: black;
  height: 50px;
  width: 20px;
  margin: auto;
}

.semaforo {
  background-color: black;
  border-radius: 10px;
  display:inline-block;
  margin: auto;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.red {
    background-color: red ;
    width: 70px ;
    height: 70px;
    margin: 20px;
}


.yellow {
    background-color: yellow ;
    width: 70px ;
    height: 70px;
    margin: 20px;

}


.green {
    background-color: green ;
    width: 70px ;
    height: 70px;
    margin: 20px;

}

.encender-yellow {
  box-shadow: 0 0 2em 1em rgb(252, 252, 13) ;

}

.encender-red {
  box-shadow: 0px 0px 20px 20px rgb(209, 12, 12) ;

}

.encender-green {
  box-shadow: 0 0 2em 1em rgb(5, 191, 5) ;

}

.boton {
  background-color: #285bae;
  color: white;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
   margin-top: 20px;
  padding: 10px;
}



.boton:hover {
  background-color: #1f4b90;  
}